:root {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  background: url(bg-image.svg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1280px;
  margin: 1em auto;
  padding: 0 2em;
  font-family: "be vietnam pro", sans-serif;
}
.hdr {
  color: #fff;
}
.site-header {
  text-align: center;
  font-size: 4rem;
  margin: 3rem auto 0;
  max-width: 600px;
}
.form-description {
  font-size: 2rem;
  text-align: center;
  max-width: 600px;
  margin: 0.5em auto;
  line-height: 1.6;
}
form {
  max-width: 800px;
  margin: 5rem auto;
  background-color: rgba(205, 213, 224, 0.3);
  padding: 1.5em 1.5rem 6rem;
  border-radius: 12px;
}
.user-info {
  display: grid;
}

.form-group {
  margin-bottom: 1.5em;
}
.form-group div {
  color: #fff;
  margin-bottom: 0.5em;
  font-size: 14px;
}
.form-group input {
  padding: 2em;
  border-radius: 16px;
  border: 0;
  outline: 0;
  width: 100%;
}
.form-group input::placeholder {
  color: #cdd5e0;
  font-weight: 500;
  font-size: 1rem;
  font-family: "be vietnam pro", sans-serif;
}
.form-flex {
  display: flex;
  background-color: #fff;
  border-radius: 1rem;
  align-items: center;
  padding: 0 1.5em 0 0;
}
.form-flex input::placeholder {
  color: #111729;
  font-weight: 700;
  font-size: 1rem;
  font-family: "be vietnam pro", sans-serif;
}
.form-group textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 1rem;
  resize: none;
}
.form-group textarea::placeholder {
  color: #111729;
  font-weight: 700;
  font-size: 1rem;
  font-family: "be vietnam pro", sans-serif;
}
.btn {
  width: 100%;
  color: #4036a9;
  font-size: 1.125rem;
  font-weight: 700;
  font-family: "be vietnam pro", sans-serif;
  padding: 1.5rem;
  border-radius: 1rem;
  border: 0;
  outline: 0;
}
@media (min-width: 768px) {
  .user-info {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }
  form {
    padding: 1.5rem;
  }
}
